<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- link rel='stylesheet' type='text/css' href='static/main.css' -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'>

    <script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js'></script>

    <style>
        h1 {
            font-family: "Courier";
        }
        .pitch {
            font-family: "Courier";
        }
    </style>

    <title>bitty.bio</title>

</head>
<body>
<div class='row'>
    <div class='jumbotron'>
        <div class='container'>
            <h1>
                bitty.bio<small> summaries of you &amp; your things</small>
            </h1>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md-4 col-md-offset-2 lead pitch'>
        bitty.bio is a business-card-sized social network: an itty-bitty service to create small &amp; simple bios, business cards, home pages, or what have you. it is designed to be simple, small, and succinct. It can also (hopefully) connect to the more &ldquo;full-featured&rdquo; social networks for those who want more complete functionality.
    </div>
    <div class='col-md-3 col-md-offset-1' style='font-weight: bold; font-family: "Courier"; font-size: 12pt'>
        The only one that exists is <a href='/jpco'>bb@jpco</a>, so... there y'go.
    </div>
</div>
</body>
</html>
